<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        <link rel="stylesheet" href="/css/jobRequest.css">

        <!--Roboto Font, Bebas Neue Font, Montserrat Font, Sen-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    </head>

    <body class="jobReqBody">
        <header class="jobReqHeader">
            <nav>
                <a href="/index.html" class="homeLink">
                    <img src="/imgs/wrklywhite.png" alt="wrkly home">
                </a>
            </nav>
        </header>

        <main class="jobReqMain">
            {{{body}}}
        </main>

        <footer class="jobReqFooter">
            <p>WRKLY</p>
            <div class="footer-contact">
                <p>Email: support@wrkly.com</p>
                <p>Phone: (555) 555-5555</p>
            </div>
        </footer>

        <script src="/js/jobRequestsValidate.js"></script>
    </body>
</html>