<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <header class="loginHeader">
            <a href="/index.html" class="homeLink">
                <img src="/imgs/home-icon.svg" alt="wrkly home">
            </a>
        </header>

        <main class="loginMain">
            {{{body}}}
        </main>
    </body>
</html>