<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <header class="simpleHeader">
            <a href="/index.html">
                <img src="/imgs/home-icon.svg" alt="wrkly home">
            </a>
        </header>

        <main class="pageMain">
            {{{body}}}
        </main>
    </body>
</html>