<section id="loginPage">
    <h1>Welcome Back</h1>
    <p>Please log in below!</p>

<!--if there is an error in the form, show that-->
    {{#if error}}
        <p class="error-message">{{error}}</p>
    {{/if}}

    <!--I still have to do the actual form here-->
    
</section>