/*resetting default spacing so that there is no whitespace in nav*/
*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0; 
}

/*this just makes the nav scroll when you scroll*/
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9FAFB; 
}

header nav img {
    height: 23px; 
}

header nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 2rem;
    flex: 1;
    justify-content: center;
}

header nav ul li {
    margin: 0; 
}

header nav li a {
    text-decoration: none;
    color: #90A1D2;
    font-family: "Sen", sans-serif;
    font-size: 15px;
    font-weight: 350; 
}

header nav li a:hover{
    color: #FF692A; 
    font-weight: 700;
}

header nav #buttonContainer {
    display: flex;
    gap: 0.5rem; 
}


#login {
    background-color: #90A1D2;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 75px;
    color: #fff;
    font-family: "Sen", sans-serif;
    font-size: 13px;
    font-weight: 350;
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#login:active, #jobRequest:active{
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transform: translateY(1px);
}

#jobRequest {
    background-color: #F9FAFB;
    border:1px solid #90A1D2;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    color:#90A1D2;
    font-family: "Sen", sans-serif;
    font-size: 13px;
    font-weight: 350;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px; 
}

#banner{
    text-align: center;
    padding: 50px;
}

#aboveHeader{
    font-family: "Sen", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    color:#A7AEBE;
}

#banner h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 0; 
    letter-spacing: 4px;
    color: #101C30;
    z-index: 1; 
    position: relative; 
    display: inline-block;
}

#banner h1::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 35px;
    background-color: #EDE9FE;
    z-index: -1;
}

#description{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 30px;
    color: #101C30; 
    padding-top: none; 
}

#description bdi {
    color: #97c1f3; 
}

#getStarted {
    display: inline-block;
    padding: 8px 26px;
    border-radius: 200px;
    border: none; 
    background: linear-gradient(180deg, #ffc2a8 5%, #ff9445 10%, #ff692a 100%);
    font-family: "Sen", sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-top:10px;
}   

#getStarted:hover {
    transform: translateY(1px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

#getStarted:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0,0,0,0.18);
}

#mainSection {
    background: linear-gradient(to bottom, #ffffff 0%, #CFE8F4 40%, #94CEEB 100%);
    padding: 40px 0 100px;
}

#mainImg {
    position: relative; 
    bottom: 60px;
}

#mainImg img {
    width: 92%;
    display: block; 
    margin: 0 auto; 
    padding-top: 20px;
}

#elementOne {
    height: 50px; 
    width: 130px; 
    background-color: #EDE9FE;
    z-index: 1;
    position: absolute; 
    bottom: 443px;
    border-radius: 30px;
}

#elementTwo {
    height: 50px;
    width: 130px;
    background-color: #f0f1fc;
    z-index: 1; 
    position: absolute; 
    bottom: 195px;
    border-radius: 30px;
    left: 750px;
}

#about{
    margin: 40px auto 0;
    padding: 60px 40px;
    max-width: 1100px;
    display: grid; 
    grid-template-columns: 1fr 1fr; /*left images right text*/
    column-gap: 40px;
    row-gap: 24px;
    align-items: stretch;
}

#aboutStyle {
    grid-column: 2;
    background-color: #f6f4fd;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: left;
}

#aboutStyle h6{
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: -20px;
    color: #594f80;
    font-size: 12px;
}

#aboutStyle h3{
    font-family: 'Sen';
    font-size: 30px; 
    color: #101C30;
}

#aboutStyle p{
    color:#A7AEBE;
    font-family: 'Sen';
    font-size: 14px;
}

#about h1, #about p{
    position: relative;
    z-index:1;
    grid-column: 2;
    text-align: left;
}

#about h1{
    grid-column: 1/3;
    text-align:center;
    margin-bottom: 8px; 
    font-family: "Bebas Neue", sans-serif;
    margin-top: -30px;
    font-size: 50px;
    color: #101C30;
    text-decoration: #ff692a underline;
}

#aboutImgs {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:12px;
    align-items: stretch;
}

#aboutImgs img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    object-fit: cover;
}

#features{
    margin: 60px auto 0;
    padding: 80px 40px;
    width: 100%;
    max-width: none;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /*for three equal cards*/
    column-gap: 24px;
    row-gap: 24px;
    align-content: center;
    align-items: stretch;
    background-color: #f6f4fd;
    border-radius: 10px;
}

#features h1 {
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 8px;
    margin-top: -17px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #101C30;
    text-decoration: #ff692a underline;
}

.feature {
    background-color: #101C30;
    border-radius:24px; 
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    padding: 24px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f6f4fd;
    font-family: 'Sen';
    font-size: 14px;
}

.feature img {
    width: 40px;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
}
